.main__section__promocao {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    padding: 0 0 2rem 7rem;
    background-image: url('../../../assets/banner.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 24.468vw;
}

.section__promocao__h1, .section__promocao__h2, .section-promocao__botao {
    color: var(--cor3);
}

.section__promocao__h1, .section__promocao__h2 {
    position: absolute;
    font-weight: 700;
}

.section__promocao__h1 {
    font-size: 3.8vw;
    top: 40%;
}

.section__promocao__h2 {
    font-size: 1.6vw;
    top: 63%;
}

.section-promocao__botao {
    position: absolute;
    top: 76%;
    display: inline-block;
    background-color: var(--cor2);
    padding: 1.1rem 0;
    width: 9.5vw;
    text-align: center;
    font-size: 1.2vw;
}

@media screen and (max-width: 1024px) {
    .main__section__promocao {
        background-image: url('../../../assets/banner-medio.png');
        height: 45.84961vw;
        padding-left: 2rem;
    }

    .section__promocao__h1 {
        font-size: 6.8vw;
        top: 45%;
    }

    .section__promocao__h2 {
        font-size: 2.91vw;
        top: 68%;
    }
    
    .section-promocao__botao {
        top: 81%;
        width: 16vw;
        padding: 1rem 0;
        font-size: 2vw;
    }
}

@media screen and (max-width: 768px) {
    .main__section__promocao {
        background-image: url('../../../assets/banner-pequeno.png');
        height: 53.3379vw;
        padding-left: 1rem;
    }

    .section__promocao__h1 {
        font-size: 6.3vw;
        top: 41%;
    }

    .section__promocao__h2 {
        font-size: 4vw;
        top: 58%;
    }

    .section-promocao__botao {
        top: 71%;
        width: 34vw;
        padding: .7rem 0;
        font-size: max(.8rem, 3vw);
    }
}