.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 7rem;
}

.cabecalho__container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.cabecalho__container__input {
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: var(--cor1);
    padding: .5rem 1rem;
    border-radius: 20px;
}

.cabecalho__input {
    line-height: 1.5rem;
    width: 24.57vw;
    background-color: var(--cor1);
}

.cabecalho__container__login {
    display: flex;
    align-items: center;
    gap: 6vw;
}

.cabecalho__img__pesquisar {
    display: none;
}

.cabecalho__menu__login {
    width: 11.375rem;
    line-height: 2.5rem;
    text-align: center;
    border: 1px solid var(--cor2);
    color: var(--cor2);
}

/* tablet */

@media screen and (max-width: 1024px) {
    .cabecalho {
        margin: 1rem 2rem;
    }

    .cabecalho__logo {
        width: 6.25rem;
        height: 1.75rem;
    }

    .cabecalho__input {
        width: 272px;
    }

    .cabecalho__menu__login {
        width: 10.375rem;
    }
}

@media screen and (max-width: 768px) {
    .cabecalho {
        margin: 1rem;
    }

    .cabecalho__container__input {
        display: none;
    }

    .cabecalho__img__pesquisar {
        display: inline-block;
    }

    .cabecalho__menu__login {
        width: 8.3125rem;
    }
}